html
{
    font-size: 10px;
}

/* https://lospec.com/palette-list/oil-6 */
body
{
    margin-top: 50px;
    margin-left: 50px;
    font-family: "system-ui", serif;
    font-weight: 300;
    font-style: normal;

    color: #fbf5ef;
    background: #272744;

    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: normal;
    letter-spacing: .05em;
    font-size: 3rem;
    color: #fbf5ef;
}

h2
{
    font-size: 2rem;
}

h3
{
    font-size: 2rem;
    font-weight: bold;
    line-height: 0.5rem;
    color: #f2d3ab;
}

h4
{
    font-size: 1rem;
    line-height: 0.5rem;
}

p
{
    font-size: 1.5rem;
    font-weight: normal;
}

a
{
    background: #f2d3ab;
    color: #272744;
    padding-left: 5px;
    padding-right: 5px;
}

a:visited
{
    background: #f2d3ab;
    color: #272744;
}

.widget-container
{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

ul.widget-container li {
    list-style: none;
    display: inline-block;
}